.cell_auto__
  border: 3px solid black
  border-radius: 4px
  margin: 4px
  padding: 3px

.cell
  width: 15px
  height: 15px

  float: left

.state_0
  background: black

.state_1
  background: #330

.state_2
  background: #730

.state_3
  background: #A30

.state_4
  background: #F30


.row
  clear: both
