doctype html
html
  head
    title Automata.js display

    meta(charset='utf-8')
    meta(title="Automata.js test labs")

    script(src="../automata-standalone.js")
    script(src="./example.js")

    link(href="./example.css", rel="stylesheet")

  body
