body
    background: white

.cell_auto
    float: left

.cell
    width:  3px
    height: 3px
    float: left
    margin: 0.3px

.row
    //display: inline-block
    clear:   both

.state_0
    background: black
.state_1
    background: blue
.state_2
    background: purple
.state_3
    background: red
.state_4
    background: gray
.state_5
    background: green
.state_6
    background: orange
.state_7
    background: brown
.state_8
    background: yellow
.state_9
    background: white
